---
services:
  postgres-db:
    image: postgres:latest
    container_name: postgres-db
    networks:
      postgres_net:
    env_file:
      - ../.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
networks:
  postgres_net:
    driver: bridge
